
{% extends 'login/basic.html' %}

{% block title%}customers review analyzer{% endblock %}
{% load static %}
{% block body %}


<div class="container" style="background-color:white">

<center>
<center><h1 id='about'> ABOUT US</h1></center>
<p>Sentiment analysis can be a key indicator of customer satisfaction and customer experience. Customer experience is the key to business success. In fact, after a positive experience, more than 85% of customers purchase more. Twenty-five percent, however, drop a product or brand after just one bad experience. That proves that poor customer experiences can be costly.<br>
	<br>
Rather than assuming, you know how your customers experience your business? , is there a way to really understand what makes for great customer experiences? If there were a way to analyze customer feedback, could it be used to retain more of your customers? (I hope you know where we’re going with this.)
<br>
<br>
The answer lies in analyzing review sentiment! </p>
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/pic.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
    	<a href="login/signIn" class="btn btn-primary">LOGIN</a>
    
	<a href="login/register" class="btn btn-primary">REGISTER</a>
</p>
  </div>
</div>


</center></div>

{%endblock%}